/* GENERAL RULES */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../img/kiset-wallp3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #111;
}

img {
  max-width: 100%;
}

.svg {
  width: 100px;
  height: 100px;
}

#wrapper {
 
  
  
  
  min-height: calc(100vh - 88px); /* sticky footer */
}

.wrapper {
   display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  
  text-align: center;
  
}

.js-media {
  display: none; /* javascript mediaqueri breakpoint */
}

/* COMMON RULES */

#gallery,
#advantages,
#call-back,
#about,
#questions {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.arrow {
  position: absolute;
  width: 40px;
  border-radius: 60%;
  background-color: rgba(0,0,0,.5);
  padding: 10px;
  cursor: pointer;
}



/* HEADER */

#header {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-self: center; /*?*/
  
  padding-top: 15px
}

.logo-txt {
  margin-top: -10px;
  font-size: 0.8em;
  font-weight: 500;
}

.logo-img,
.logo-txt {
  align-self: center; /*?*/
}

.phone {
  display: flex;
  flex-direction: column;
  align-self: center; /*?*/
  
  font-size: 1.45em;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin-top: -15px;
}

.phone-time {
  display: none;
}

.phone-number,
.phone-time {
  align-self: center;  
}

.phone-number hr {
  margin-top: -20px
}



#fixed-top-wrapper{
  display: flex;
  justify-content:space-between;
    max-width: 1200px;
  margin: 0 auto;
  
  
  
}


#fixed-top {
  display: none; /* none/flex on js script */
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #efe7de;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#fixed-top-img {
  width: 30px;
  align-self: center;
}




#fixed-phone {
  background: url(../img/ico-phone.svg) no-repeat left center;
  background-size: 25px;
  background-position: 0;
  padding-left: 35px;
  align-self: center;
}





/* MAIN OFFER */

#main-offer {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  max-width: 1000px;
  margin: 0 auto;
  
}

#offer-wrapper {
  background: linear-gradient(rgba(0,0,0, .05), rgba(0,0,0, .05) 100%);
  text-align: center;
}

.video {
  display: none;
}

.order-txt {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 0 10%;
  margin-top: -20px;
}

.order-form {
  display: flex;
  flex-direction: column;
  
  padding: 0 30px;
}

/*  ADVANTAGES */

#advantages ul {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
}

#advantages li {
  background-image: url('../img/ico-done.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0 top;
  padding: 0 30px;
  font-size: 1em;
}

#advantages li:not(:last-child) {
    padding-bottom: 5px;
  }


/* GALLERY */

#gallery-slider {
  position: relative;
}

.gallery-box {
  position: relative;
}

#gallery-img {
  display: block
}

#gallery-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 12px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

#gallery-arr-left {
  top: calc(50% - 35px);
  left: 2%;
  z-index: 100
}

#gallery-arr-right {
  top: calc(50% - 35px);
  right: 2%;
  z-index: 100
}



/* CALL-BACK */

.call-back-form {
  display: flex;
  flex-direction: column;
  
  padding: 0 30px;
}

/* CLIENTS */

#clients-slider {
  position: relative;
}

.clients-box {
  width: 100%;
}

#clients-arr-left {
  top: calc(45%);
  left: 2%;
}

#clients-arr-right {
  top: calc(45%);
  right: 2%;
}

#clients-img {
  max-width: 290px;
  margin: 0 auto;
}

#clients-img img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}


.clients-box:not(:first-child) {
  padding-top: 20px;
}


.clients-text {
  display: flex;
  flex-direction: row;
  
  border-radius: 10px;

  height: 120px;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

.clients-text p {
  align-self: center;
}


/* ABOUT */

/* QUESTIONS */

.questions-form {
  display: flex;
  flex-direction: column;
  
  padding: 0 30px;
}

/* FOOTER */

footer {
  text-align: center;

}








